<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='form.css') }}">
</head>
<body>
    <div class="container">
        <button hidden onclick="back_btn()" id="back-btn" class="btn btn-outline-success btn-sm"><i class="fas fa-angle-left"></i> back</button>
        <h1 class="mt-3">Legal Help Page</h1>
        <p>This is a template form, fill it to calculate the price and request help</p>
        <hr>
        <form id="form" method="post" action="/{{chat_id}}">
            <div id="group-container"></div>
            <div hidden class="was-validated" id="personal-container">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Name</div>
                        </div>
                        <input type="text" required class="form-control is-invalid" id="name-t" name="name-t" required aria-describedby="personal-name-help" placeholder="John Doe">
                    </div>
                    <small id="personal-name-help" class="form-text text-muted">We'll never share your name with anyone else.</small>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">City</div>
                        </div>
                        <input type="text" required class="form-control is-invalid" id="city-t" name="city-t" required aria-describedby="personal-city-help" placeholder="Santiago">
                    </div>
                    <small id="personal-city-help" class="form-text text-muted">We'll never share your city with anyone else.</small>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Email</div>
                        </div>
                        <input type="email" required class="form-control is-invalid" id="email-t" name="email-t" required aria-describedby="personal-email-help" placeholder="ivan_ivanov@mail.com">
                    </div>
                    <small id="personal-email-help" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            </div>
        </form>
        <hr>
        <button onclick="handle_submit()" id="submit-btn" class="btn btn-success">Submit</button>
    </div>
    <script src="{{url_for('static', filename='form-builder.js')}}"></script>
    <script src="{{url_for('static', filename='form-handler.js')}}"></script>
</body>
</html> 
