<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='form.css') }}">
</head>
<body>
    <div class="container">
        <button hidden onclick="back_btn()" id="back-btn" class="btn btn-outline-success btn-sm"><i class="fas fa-angle-left"></i> back</button>
        <h1 class="mt-3">VVConsultBot</h1>
        
        <form id="form" method="post" action="/{{chat_id}}">
            <div hidden id="group-container">
                <p class="p-center">Заявка на услуги</p>
                <hr>
                <p>
                    Привет👋
                </p>
                <p>
                    Ниже форма заявки для оказания услуг: выбери интересующие услуги и заполни описание. Мы проанализируем твою заявку и вернемся с обратной связью.
                </p>
                <p>
                    Перед выполнением задачи мы проведем с тобой первичный (вводный звонок). Его стоимость фиксированная и составляет 3 500₽ / час по каждому направлению услуг.
                </p>
                <p>
                    <b>Обрати внимание! </b>Стоимость указана за 1 час работы по задаче.<br>Символ <b>"~"</b> обозначает услугу, стоимость которой обуждается индивидуально.
                </p>
                <hr>
            </div>
            <div class="was-validated" id="personal-container">
                <p class="p-center">Подтверждение заявки</p>
                <hr>
                <p>
                    Заполните контактные данные перед отправкой 
                </p>
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Имя и фамилия</div>
                        </div>
                        <input type="text" required class="form-control is-invalid" id="name-t" name="name-t" required aria-describedby="personal-name-help" placeholder="Иван Иванов">
                    </div>
                    <small id="personal-name-help" class="form-text text-muted">Напишите кириллицей</small>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Номер телефона</div>
                        </div>
                        <input type="text" required class="form-control is-invalid" id="phone-t" name="phone-t" required aria-describedby="personal-phone-help" placeholder="+7(XXX) XXX XXXX">
                    </div>
                    <small id="personal-phone-help" class="form-text text-muted">Напишите по форме.</small>
                </div>
                <hr>
                <div style="display: flex;">
                    <img style="height: 3em; width: 3em;" src="{{url_for('static', filename='alert.png')}}">
                    <p class="ml-3">Ниже указан перечень выбранных вами услуг и стоимость за первичную консультацию. Помните, все услуги платные. Окончательная стоимость решения вашей задачи будет сообщена по итогам первичной консультации.</p>
                </div>
                <div id="checkout-border">
                    <div id="checkout-container">
                        <p>Заявка на оказание услуг</p>
                        <hr>
                        <table id="service-table" width="100%"></table>
                        <hr>
                        <table id="consult-table"></table>
                        <hr>
                        <table id="total-table" width="100%">
                            <tr>
                                <th width="80%">Итого</th>
                                <th width="20%"><span class="badge badge-secondary">7 000₽</span></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <button onclick="handle_submit()" id="submit-btn" class="mb-5 btn btn-success">Submit</button>
    </div>
    <script src="{{url_for('static', filename='form-builder.js')}}"></script>
    <script src="{{url_for('static', filename='form-handler.js')}}"></script>
</body>
</html> 
