body {
    background-color: #FAFAFA;
}

textarea {
    font-size: 14px!important;
}

p {
    margin-bottom: 0.7em;
    color: #333333;
}

h1 {
    color: #333333;
    text-align: center;
}

.p-center {
    color: #999999 !important;
    text-align: center;
    font-size: large;
}

.container {
    margin-top: 10px;
}

.badge {
    vertical-align: middle;
}

#checkout-border, #checkout-border-th {
    background-image: repeating-linear-gradient(0deg, #999999, #999999 17px, transparent 17px, transparent 27px, #999999 27px), repeating-linear-gradient(90deg, #999999, #999999 17px, transparent 17px, transparent 27px, #999999 27px), repeating-linear-gradient(180deg, #999999, #999999 17px, transparent 17px, transparent 27px, #999999 27px), repeating-linear-gradient(270deg, #999999, #999999 17px, transparent 17px, transparent 27px, #999999 27px); 
    background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px; 
    background-position: 0 0, 0 0, 100% 0, 0 100%; 
    background-repeat: no-repeat;
    background-color: white;
}

#checkout-container,#checkout-container-th {
    padding: 1em;
}
